@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'LEMONMILK';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --lemon-milk: 'LEMONMILK', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --background-black: #060606;
    --text-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
    background-color: #060606;
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #060606;
}


::-webkit-scrollbar-thumb {
    background: white; 
}


::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
}

.title-container__year-time {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container__phrases {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.title-container__end-phrase {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: end;
}

.title-container__main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.main-title {
    width: 100%;
}

.subtitle {
    font-family: var(--lemon-milk);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 40px;
}

.end-text {
    text-align: end;
}

.paragraph {
    font-family: var(--lemon-milk);
    font-weight: normal;
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.montserrat {
    font-family: var(--montserrat);
}

.lemon-milk {
    font-family: var(--lemon-milk);
    font-weight: normal;
}


.banner {
    background-image: url(../img/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
    transition: filter 0.8s ease;
    filter: grayscale(100%);
}

.banner:hover {
    filter: grayscale(0%);
}

.banner__items {
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
    font-family: var(--lemon-milk);
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}


.header {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__menu li {
    font-family: var(--montserrat);
    transition: transform 0.8s ease;
}
.header__menu li:hover{
    transform: scale(1.1);
}

.header__menu li:last-child:hover{
    transform: scale(1);
}

.header__menu li:last-child a {
    border: solid 1px white;
    padding: 8px 12px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.8s ease;
}

.header__menu li:last-child a svg {
    margin-left: 12px;
}
.header__menu li:last-child a path:hover {
    fill: black;
}

.header__menu li:last-child a:hover {
    background-color: white;
    color: #060606;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
}

.about-container__text {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-container__items {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
    width: 100%;
}

.upper {
    text-transform: uppercase;
    padding: 0 0 1rem 0;
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.clients__texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Garantir que os textos estejam no final do contêiner */
}

.clients__strong {
    font-size: 50px;
    font-family: var(--lemon-milk);
}

.clients__number {
    align-self: flex-start;
    text-align: end;
    line-height: 25px;
    margin-top: 7px;
}

.montserrat-regular {
    font-family: var(--montserrat);
    font-weight: 400;
    line-height:30px;
}

.cases {
    padding: 0px 20px;
}

.cases__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cases__container__box {
    width: 33%;
    background-color: #212121;
    padding: 8px;
}

.cases__container__box img {
    width: 100%;
}
.cases__container__box h2{
    color: #FFF;
    font-family: "LEMON MILK";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 8px 0px;
}

.cases__container__box p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.cases__container__box a{
    display: flex;
    padding: 14px 0;
    justify-content: center;
    border: solid 1px white;
    border-radius: 100px;
    color: white;
    font-family: var(--montserrat);
    transition: .8s;
    font-weight: 500;
}

.cases__container__box a:hover{
    background-color: white;
    color: #212121;
}

.cases__title {
    color: #FFF;
    font-family: "LEMON MILK";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 40px 0px;
}

@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: #060606;
    }
    100% {
        color: white;
    }
}

.banner__items p {
    animation: colorChange 5s ease-in-out infinite;
}

.carrousel {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    background-color: var(--text-white);
    width: 100%;
}

.carrousel__container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.carrousel__container__title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.carrousel__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.arrow {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.carrousel__container__right {
    background-image: url(/img/carrousel-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 50%;
}

.carrousel__container__text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 50%;
}