@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'LEMONMILK';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --lemon-milk: 'LEMONMILK', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --background-black: #060606;
    --text-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
    background-color: #060606;
    overflow-x: hidden;
    cursor: url('../img/cursor.svg'), auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: url('../img/cursor-2.svg'), auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #060606;
}


::-webkit-scrollbar-thumb {
    background: white; 
}


::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
}

.title-container__year-time {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container__phrases {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.title-container__end-phrase {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: end;
}

.title-container__main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.main-title {
    width: 100%;
}

.subtitle {
    font-family: var(--lemon-milk);
    font-weight: bold;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem); /* A fonte variará entre 12px e 18px */
    line-height: 40px;
}

.end-text {
    text-align: end;
}

.paragraph {
    font-family: var(--lemon-milk);
    font-weight: normal;
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.montserrat {
    font-family: var(--montserrat);
}

.lemon-milk {
    font-family: var(--lemon-milk);
    font-weight: normal;
}


.banner {
    position: relative;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: filter 0.8s ease;
    filter: grayscale(100%);
}

.banner__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* O vídeo ficará atrás do conteúdo */
}

.banner__items {
    position: relative;
    z-index: 1;
    color: #fff; /* Ajuste conforme necessário */
}


.banner:hover {
    filter: grayscale(0%);
}

.banner__items {
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
    font-family: var(--lemon-milk);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}


.header {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__menu li {
    font-family: var(--montserrat);
    transition: transform 0.8s ease;
}
.header__menu li:hover{
    transform: scale(1.1);
}

.header__menu li:last-child:hover{
    transform: scale(1);
}

.header__menu li:last-child a {
    border: solid 1px white;
    padding: 8px 12px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.8s ease;
}

.header__menu li:last-child a svg {
    margin-left: 12px;
}
.header__menu li:last-child a path:hover {
    fill: black;
}

.header__menu li:last-child a:hover {
    background-color: white;
    color: #060606;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
    padding-top: 20px;
}

.about-container__text {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-container__items {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    width: 100%;
}

.upper {
    text-transform: uppercase;
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.clients__texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    gap: 20px;
}

.clients__strong {
    font-size: 3rem;
    font-family: var(--lemon-milk);
}

.clients__number {
    align-self: flex-start;
    text-align: end;
    line-height: 25px;
    margin-top: 7px;
}

.montserrat-regular {
    font-family: var(--montserrat);
    font-weight: 400;
    line-height:30px;
}

.cases {
    padding-top: 20px;
}

.swiper-container {
    width: 100%;
}

.cases__container__box {
    background-color: #060606;
    padding-bottom: 8px;
    position: relative;
    overflow: hidden;
    margin: 20px 20px 0px 20px;
    color: #FFF;
    font-family: "LEMON MILK";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.cases__container__box img {
    width: 100%;
}

.cases__container__box .content {
    position: absolute;
    bottom: -100%; /* Esconde o conteúdo inicialmente */
    left: 0;
    right: 0;
    background-color: #212121;
    padding: 20px;
    transition: bottom 0.4s ease-in-out;
}

.cases__container__box:hover .content {
    bottom: 0; /* Mostra o conteúdo ao passar o mouse */
}

.cases__container__box p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.cases__container__box a {
    display: flex;
    padding: 8px 0;
    justify-content: center;
    border: solid 1px white;
    border-radius: 0px;
    color: white;
    font-family: var(--montserrat);
    transition: .8s;
    font-weight: 500;
}

.cases__container__box a:hover {
    background-color: white;
    color: #212121;
}

.cases__title {
    color: #FFF;
    font-family: var(--lemon-milk);
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px 0px 20px 20px;
}

.cases__subtitle {
    font-size: clamp(0.2rem, 1.8vw, 1.2rem); /* A fonte variará entre 12px e 18px */
    font-family: var(--lemon-milk);
    font-weight: normal;
}



@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: #060606;
    }
    100% {
        color: white;
    }
}

.banner__items p {
    animation: colorChange 5s ease-in-out infinite;
}

.carrousel {
    padding-top: 20px;
    
}

.carrousel__container {
    display: flex;
    margin: 40px 20px 20px 20px;
    justify-content: space-between;
    background-color: var(--text-white);
    height: 70vh;
    width: 100%;
}

.carrousel__container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.carrousel__container__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.carrousel__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.arrow {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.carrousel__container__right {
    background-image: url(../img/carrousel-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.carrousel__container__text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 50%;
}

.carrousel__title {
    color: #FFF;
    font-family: var(--lemon-milk);
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px;
}


.footer {
    width: 100%;
    color: var(--text-white);
    height: 60vh;
}

.footer__container {
    display: flex;
    padding: 20px;
    height: 60vh;
}

.footer__container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.footer-info {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.footer-info__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-rights {
    justify-content: flex-end;
}

.footer__container__right {
    display: flex;
    justify-content: end;
    width: 50%;
}

.footer-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* ou 'contain' dependendo da necessidade */   
}

.footer-star__container {
    display: flex;
    align-items: end;
    margin-right: 20px;
}

.footer__instagram-btn {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 50px;
    padding: 20px;
    border: none;
    background-color: var(--background-black);
    color: var(--text-white);
    font-family: var(--montserrat);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.8s ease;
    padding-left: 50%;
}

.footer__instagram-btn:hover {
    background-color: var(--text-white);
    color: var(--background-black);
    transition: 0.8s;
}

.star-box {
    position: relative;
    display: inline-block;
}


.star-box img {
    display: block;
}

.star-box::before {
    content: url('../img/star-box.svg');
    position: absolute;
    top: 24%;
    left: 14%;
    animation: pulsar 3s infinite;
}

.opacity-link {
    opacity: 0.8;
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.ham-menu-btn {
    display: none;
}



@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Defina a transição */
/* Defina a transição */
#carrousel-subtitle, #p-up, #p-down, #img-carrousel {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }

.ham-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

#mobile-menu {
	display: none;
}



@media only screen and (max-width: 830px) {
    .end-text, .experts-phrase {
        display: none;
    }

    .banner {
        height: 25vh;
        background-size: cover;
    }

    .vkr-about-img {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .back-about {
        display: none;
    }

    .about-container__items {
        padding: 0;
    }

    .clients {
        width: 100vw;
    }

    .clients__number {
        display: flex;
        align-items: flex-end;
        background-image: url(../img/about-background-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 25vh;
        width: 100%;
        color: var(--background-black);
    }

    .clients__texts {
        margin: 20px;
    }

    .num-clients-text {
        padding: 10px 20px 5px 20px;
    }

    .subtitle {
        line-height: 28px;
    }

    .ham-menu-btn {
        display: block;
    }

    .header {
        padding: 0;
    }

    #menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff; /* ou a cor de fundo desejada */
        z-index: 9999; /* Certifique-se que este valor é maior que o z-index do header */
        display: none; /* Esconde o menu por padrão */
    }

    #mobile-menu.open {
        display: block; /* Show menu when open */
    }

    .menu-logo {
        margin: 20px;
    }

    .ham-menu-btn {
        position: absolute;
        z-index: 1000;
        margin: 40px 20px 40px 40px;
        top: 0; /* ESSE CODIGO TA UMA PORRA */
    }

    .header__logo {
        width: 50%;
    }

    .header__mobile-container {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .mobile-list__links {
        margin-bottom: 20px;
    }

    .mobile-list {
        padding: 40px 40px 40px 20px;
        position: relative;
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: start;
        list-style-type: none;
        font-family: var(--montserrat);
        background-color:#212121;
        opacity: 100;
        z-index: 2;
        gap: 5px;
        font-size: 20px; 
        height: 100vh;
    }

    

    .footer-background__container {
        display: none;
    }

    .vikaro-separated-img {
        display: none;
    }

    .footer__container, .footer__container__left, .footer__container__right {
        height: 30vh;
    }

    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer {
        height: 35vh;
    }

    .cases {
        overflow: hidden;
    }

    .carrousel__container__left {
        height: 30vh;
    }
    
    .carrousel__container__text {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 100vw;
    }

    .carrousel__container {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
    }

    .carrousel__container__right {
        height: 30vh;
        width: 100%;
    }

    .carrousel__container__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100vw;
        text-align: center;
       
    }

    #p-down {
        display: none;
    }

    #services {
        padding: 0;
        width: 100%;
    }

    .carrousel__arrows {
        gap: 20px;
        width: 30vw;
    }

    .carrousel__title-arrow {
        width: 60vw;
    }

    .arrow-img {
        width: 10px;
    }


    
        
  
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.swiper-slide:hover .overlay {
    opacity: 1;
}
.overlay-content {
    width: 60%;
    text-align: center;
}
.overlay h2 {
    margin: 0 0 10px;
}
.overlay p {
    margin: 0 0 20px;
}
.overlay button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}