@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'LEMONMILK';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --lemon-milk: 'LEMONMILK', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --background-black: #060606;
    --text-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
    background-color: #060606;
    overflow-x: hidden;
    cursor: url('../img/cursor.svg'), auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: url('../img/cursor-2.svg'), auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #060606;
}


::-webkit-scrollbar-thumb {
    background: white; 
}


::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
}

.title-container__year-time {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container__phrases {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.title-container__end-phrase {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: end;
}

.title-container__main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.main-title {
    width: 100%;
}

.subtitle {
    font-family: var(--lemon-milk);
    font-weight: bold;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); /* A fonte variará entre 12px e 18px */
    line-height: 40px;
}

.end-text {
    text-align: end;
}

.paragraph {
    font-family: var(--lemon-milk);
    font-weight: normal;
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.montserrat {
    font-family: var(--montserrat);
}

.lemon-milk {
    font-family: var(--lemon-milk);
    font-weight: normal;
}


.banner {
    background-image: url(../img/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
    transition: filter 0.8s ease;
    filter: grayscale(100%);
}

.banner:hover {
    filter: grayscale(0%);
}

.banner__items {
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
    font-family: var(--lemon-milk);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}


.header {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__menu li {
    font-family: var(--montserrat);
    transition: transform 0.8s ease;
}
.header__menu li:hover{
    transform: scale(1.1);
}

.header__menu li:last-child:hover{
    transform: scale(1);
}

.header__menu li:last-child a {
    border: solid 1px white;
    padding: 8px 12px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.8s ease;
}

.header__menu li:last-child a svg {
    margin-left: 12px;
}
.header__menu li:last-child a path:hover {
    fill: black;
}

.header__menu li:last-child a:hover {
    background-color: white;
    color: #060606;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
    padding-top: 20px;
}

.about-container__text {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-container__items {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    width: 100%;
}

.upper {
    text-transform: uppercase;
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.clients__texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    gap: 20px;
}

.clients__strong {
    font-size: 3rem;
    font-family: var(--lemon-milk);
}

.clients__number {
    align-self: flex-start;
    text-align: end;
    line-height: 25px;
    margin-top: 7px;
}

.montserrat-regular {
    font-family: var(--montserrat);
    font-weight: 400;
    line-height:30px;
}

.cases {
    padding-top: 20px;
}

.cases__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cases__container__box {
    width: 33%;
    background-color: #212121;
    padding: 8px;
}

.cases__container__box img {
    width: 100%;
}
.cases__container__box{
    color: #FFF;
    font-family: "LEMON MILK";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px 20px 0px 20px;
}

.cases__container__box p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.cases__container__box a{
    display: flex;
    padding: 14px 0;
    justify-content: center;
    border: solid 1px white;
    border-radius: 0px;
    color: white;
    font-family: var(--montserrat);
    transition: .8s;
    font-weight: 500;
}

.cases__container__box a:hover{
    background-color: white;
    color: #212121;
}

.cases__title {
    color: #FFF;
    font-family: var(--lemon-milk);
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px 0px 20px 20px;
}

.cases__subtitle {
    font-size: clamp(0.4rem, 1.8vw, 1.2rem); /* A fonte variará entre 12px e 18px */
    font-family: var(--lemon-milk);
    font-weight: normal;
}

@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: #060606;
    }
    100% {
        color: white;
    }
}

.banner__items p {
    animation: colorChange 5s ease-in-out infinite;
}

.carrousel {
    padding-top: 20px;
}

.carrousel__container {
    display: flex;
    margin: 40px 20px 20px 20px;
    justify-content: space-between;
    background-color: var(--text-white);
    height: 70vh;
}

.carrousel__container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.carrousel__container__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.carrousel__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.arrow {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.carrousel__container__right {
    background-image: url(../img/carrousel-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.carrousel__container__text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 50%;
}

.carrousel__title {
    color: #FFF;
    font-family: var(--lemon-milk);
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px;
}


.footer {
    width: 100%;
    color: var(--text-white);
    height: 60vh;
}

.footer__container {
    display: flex;
    padding: 20px;
    height: 60vh;
}

.footer__container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.footer-info {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.footer-info__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-rights {
    justify-content: flex-end;
}

.footer__container__right {
    display: flex;
    justify-content: end;
    width: 50%;
}

.footer-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* ou 'contain' dependendo da necessidade */   
}

.footer-star__container {
    display: flex;
    align-items: end;
    margin-right: 20px;
}

.footer__instagram-btn {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 50px;
    padding: 20px;
    border: none;
    background-color: var(--background-black);
    color: var(--text-white);
    font-family: var(--montserrat);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.8s ease;
    padding-left: 50%;
}

.footer__instagram-btn:hover {
    background-color: var(--text-white);
    color: var(--background-black);
    transition: 0.8s;
}

.star-box {
    position: relative;
    display: inline-block;
}


.star-box img {
    display: block;
}

.star-box::before {
    content: url('../img/star-box.svg');
    position: absolute;
    top: 24%;
    left: 14%;
    animation: pulsar 3s infinite;
}

.opacity-link {
    opacity: 0.8;
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.vikaro-separated-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* ou 'contain' dependendo da necessidade */   
}



@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}