.head-nav a {
    position: relative;
}

.head-nav a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;
}

.head-nav a:hover::after {
    width: 100%;
}